# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# Change to true if we want to log data
# NEXT_PUBLIC_SHOW_LOGGER="false"

NEXT_PUBLIC_BEARER_TOKEN="my-secret-token"
NEXT_PUBLIC_SERVER_URL="http://127.0.0.1:8081"
